<!DOCTYPE html>
<html>

<head>
    <title>Reset Password</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body>
  
    <header>
        <button onclick="window.location.href = '/signup'">
            Sign Up
        </button>
        <h1>Reset Password</h1>
        <button id="btn" onclick="window.location.href = '/signin'">
            Sign In
          </button>
    </header>
   



    <form method="POST" action="/reset-password">
        <div>
            <label for="email"> <h3>Email:</h3></label> 
            <input style="background-color:#F9E79F " type="email" id="email" name="email" required>
        </div> <br>

        <div>
            <label for="newPassword"><h3>Password:</h3></label> 
            <input style="background-color:#F9E79F " type="password" id="newPassword" name="newPassword" required>
        </div> <br>
        <div>
            <label for="confirmNewPassword"><h3>Confirm Password:</h3></label>
            <input style="background-color:#F9E79F " type="password" id="confirmNewPassword" name="confirmNewPassword" required>
        </div>
        <br>

        <!-- Add reCAPTCHA widget here -->
        <div class="g-recaptcha" data-sitekey="6Le7zkYoAAAAADzupy3us7D5pMVsSnYnmrp-_crV"></div> <br> <br>

        <button type="submit">Reset Password</button>
    </form>

 

    <script>
                <% if (flash.success && flash.success.length > 0) {%>
            new Noty({
                theme: 'relax',
                text: "<%= flash.success %>",
                type: 'success',
                layout: 'topRight',
                timeout: 1500

            }).show();    
                <%} %>
    
                <% if (flash.error && flash.error.length > 0) {%>
            new Noty({
                theme: 'relax',
                text: "<%= flash.error %>",
                type: 'error',
                layout: 'topRight',
                timeout: 1500

            }).show();    
                <%} %>
    </script>
</body>

</html>