<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>Password Reset Success</title>
</head>

<body>
  <h1>Password Reset Successful</h1>

  <p>Your new password is: <%= newPassword %>
  </p>

  <a href="/signin">Sign In</a>
</body>

</html>